*.o
*.a
make.inc

src/elk
src/elk-new
src/eos/eos
src/eos/modmain.mod
src/fftlib/fftpack5.mod
src/libxcifc.mod
src/moddftu.mod
src/modfxcifc.mod
src/modmain.mod
src/modmpi.mod
src/modphonon.mod
src/modpw.mod
src/modrandom.mod
src/modrdm.mod
src/modscdft.mod
src/modstore.mod
src/modtddft.mod
src/modtest.mod
src/modvars.mod
src/modxcifc.mod
src/mpi.mod
src/penmp
src/spacegroup/modmain.mod
src/spacegroup/spacegroup

